body{margin:0;padding:0;}
img{margin:0;padding:0;}
.ly_center{height:100%; width:100%; background:#95bf3f;}
.ly_center_body{margin:0 auto; padding:0;width:950px; height:100%;}
.ly_center_body_list{margin:0; padding:0;overflow:hidden; display:block; clear:both;}
.ly_center_body_list img{display:block; margin:0 auto 0 auto;}
